:root{
    --color-white:#f3f3f3;
    --color-darkblue:#1b1b32;
    --color-darkblue-alpha:rgba(27,27,50,0.8);
    --color-green:#37af65;
}
*,*::before,*::after{
    box-sizing:border-box;
}
body{
    font-family:Times New Roman;
    font-size:medium;
    font-weight:400;
    line-height:1.4;
    color:var(--color-white);
    margin:100;
    background-size: cover;
}
body::before{
    content:"";
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
}
h1{
    font-family: Times New Roman;
    font-weight: 400;
    line-height: 1.2;
    align-items: center;
    margin-right: 100px;
}
p{
    font-size: 1.125rem;
    align-items: center;
    margin-left: 45px;
}
h1,p{
    margin-left: 350px;
    margin-right: 280px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    align-items: center;

}
label{
    display:flex;
    align-items:center;
    font-size:medium;
    margin-bottom:auto;
    margin-left: 35px;
}
input{
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    margin-left: 35px;
}
select{
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    margin-left: 35px;
}
div{
    background-color:black;
    align-self: center;
    opacity: 0.9;
}